:root{
--fixed-menu: white;
--span:black;
--fixed-span:rgb(163,158,172);
--icon:brightness(0);
--border-bottom:rebeccapurple;
}

.darkmode{
    --fixed-menu: black;
    --fixed-span:rgb(163,158,172);
    --span:white;
    --icon:brightness(1000%);
    --border-bottom:rgb(198, 13, 53)
}


.sticky{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--fixed-menu);
    z-index: 1000;
}
.sticky img{
    width: 25px ;

}

.sticky span{
    color:var(--fixed-span) ;
    font-size: 13px;
 
}

.opt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.purple{
    filter:var(--icon)
}

.white-sp{
    color: var(--span) !important;
   
}

.white-sp::before{
    content: "";
    background-color: var(--border-bottom);
    bottom: -8.5px;
    width: 50%;
    height: 3px;
    left: 50%; /* وسط عنصر والد */
    transform: translateX(-50%); 
    position: absolute;
    display: block;
}